<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dotmath</key>
  <string>dotmath.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
</dict>
</plist>
